/*Colors*/
:root{
--off-white: #E1E1E2;
--light-pink: #F17FF1;
--hot-pink: #E11EE2;
--dark-purple: #800EF0;
--med-blue: #0F7FF0;
--dark-blue: #1D1DE2;
--cyan: #80F0F0;
}

/* Fonts */
@font-face{
  font-family: 'Montserrat', sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

html{

scroll-behavior: smooth;
scroll-padding-top: 75px;
}

body{
  font-weight: 400;
  /* overflow-x: hidden; */
  overflow-y:scroll !important;
  position: relative;
  background-color: #121212 !important;
  color: #fff !important;
  font-family: 'Montserrat', sans-serif !important;
  
  
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
  line-height: normal;
  color:#fff;
}


 main{
  background-color: #000;
  padding: 0;
  top: 0;
  min-height: 100vh;

} 
section{
  position: relative;
  width: 100%;
}


.float-img{
  animation: updown 3s linear infinite;
}

/*~~~~~~~~~~HOME PAGE ~~~~~~~*/

.home-page{
width: 80%;
  margin: 200px;
}

.home-page-container{
  min-height: 100%;
  /* padding: 150px; */
}

.home-page h1{
font-weight: 700;
font-size: 54px;
margin-bottom: 10px;

}

.home-page h3{
  font-size: 20px !important;
  font-weight: 700;
  color: #B8B8B8;
  margin: 20px 0 60px 0;
}

.home-pg-button  {
  font-weight: 700;
  color: #fff;
  border: 1px solid #fff;
  padding: 18px 34px;
  font-size: 18px;
  margin: 20px;
	position: relative;
	background-color: transparent;
	transition: 0.3s ease-in-out;
}

.home-pg-button:hover {
  font-weight: 700;
  color: #000;
  border: 1px solid #fff;
  padding: 18px 34px;
  font-size: 18px;
	background-color: #fff;
	transition: 0.3s ease-in-out;
}

/* ~~~~~~~~~NAV~~~~~~~~~~~~~ */

nav.navbar {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition:  0.32s ease-in-out;
}
nav.navbar.scrolled {
  padding: 0px 0;
  background-color: #121212;
}
nav.navbar a.navbar-brand {
    width: 9%;
}
nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: #fff !important;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 18px;
  opacity: 0.75;
}
nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
    opacity: 1;
}
span.navbar-text {
    display: flex;
    align-items: center;
}
.social-icon {
    display: inline-block;
    margin-left: 14px;
}
.social-icon a {
    width: 42px;
    height: 42px;
    background: rgba(217, 217, 217, 0.1);
    display: inline-flex;
    border-radius: 50%;
    margin-right: 6px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border: 2px solid rgba(255, 255, 255, 0.5);
}
.social-icon a::before {
    content: "";
    width: 42px;
    height: 42px;
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    transform: scale(0);
	transition: 0.3s ease-in-out;
}
.social-icon a:hover::before {
    transform: scale(1);
}
.social-icon a img {
	width: 60%;
	z-index: 1;
	transition: 0.3s ease-in-out;
}
.social-icon a:hover img {
	filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}
.navbar-text button {
  font-weight: 700;
  color: #fff;
  border: 1px solid #fff;
  padding: 18px 34px;
  font-size: 18px;
  margin-left: 18px;
	position: relative;
	background-color: transparent;
	transition: 0.3s ease-in-out;
}
.navbar-text button span {
  z-index: 1;
}
.button-text {
  color: #fff;
  text-decoration: none;
}
.button-text:hover {
  color: #000;
  text-decoration: none;
}

.navbar-text button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  color: #000;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.navbar-text button:hover {
  color: #121212;
}
.navbar-text button:hover::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
}
nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
	outline: none;
    box-shadow: none;
}
nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid #fff;
  transition: all 300ms linear;
  top: -2px;
}
nav.navbar .navbar-toggler-icon:focus {
	border-bottom: 2px solid #fff;
}
nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
	width: 24px;
	position: absolute;
	height: 2px;
	background-color: #fff;
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
	transition: all 300ms linear;
}
nav.navbar .navbar-toggler-icon:after {
	top: 8px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
	background-color: #fff;
	height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
	background-color: #fff;
	height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}

/************ Banner Css ************/
.banner {
  height: 100vh;
  margin-top: 0;
  padding: 200px 0 100px 0;
  background-image: url('./assets/img/banner-bg.png');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(90deg, #211d584a 0%, #0d0d6c 107.14%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
}
.banner h1 {
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
}

.banner h2{
font-size: 45px;
font-weight: 700;
}

.banner p {
  color: #B8B8B8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}


.banner button {
  font-weight: 700;
  color: #fff;
  border: 1px solid #B8B8B8;
  padding: 18px 34px;
  font-size: 18px;
  margin-left: 0px;
	position: relative;
	background-color: transparent;
	transition: 0.3s ease-in-out;
}
.banner button span {
  z-index: 1;
}
.banner button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.banner button:hover {
  border: 3px solid #fff;

}
.banner button:hover::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
}

.banner img {
  animation: updown 3s linear infinite;
  width: 70%;
}

.banner-connect-btn{
  background: linear-gradient(90deg, #8C54ED 0%, #2625ED 107.14%);
border-radius: 12px;
border: none;
padding: 10px;
}

@keyframes updown {
    0% {
        transform: translateY(-5px);
    }
    50% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(-5px);
    }
}
.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
  
}

.wrap .gradient-text{
  background-image: linear-gradient( rgba(127, 243, 237), rgba(218, 37, 237)) ;
background-size: 100%;
-webkit-background-clip: text;
-moz-background-clip: text;
-webkit-text-fill-color: transparent; 
-moz-text-fill-color: transparent;
background-color: #f3ec78;
}

.banner .container{
  width: 80%;
}


/************ About Css ************/
.about-sign{
  margin-top: -150px;
  width: 140%;
}


.about-banner{
  position: relative;
  justify-content: center;
}

.about-banner h2{
  font-size: 45px;
  font-weight: 700;
  margin: 30px 30px 0 0;
  }
    

  .about-banner p{
    margin-top: 10px;
    color: #B8B8B8;
    }


/* *********** SKILLS *********** */


.skill{
  padding: 0 0 0px 0;
  position: relative;
  margin-top: 60px;
}

.skill-bx{
  background-color: #282828;
  border-radius: 10px;
  text-align: center;
  padding: 30px 0 20px 0;
  margin-top: 0px;
  max-height: 100px;
  z-index: 1;
}

.skill h2{
  font-size: 16px !important;
  font-weight: 700;
  color: #B8B8B8;
  margin: 40px 0 20px 0;
}

.skill p{
  color: #B8B8B8;
  font-size: 12px;
  letter-spacing: 0.8px;
  line-height: 1em;
  margin: 0px 0 0px 0;
  
}

.skill-slider{
  width: 90%;
  margin: 0 auto;
  position: relative;
}

.skill-slider .item img {
  width: 30%;
  margin: 0 auto 0px auto; 
  opacity: 80%;
}

/************ Projects Css ************/
.project {
  padding: 80px 0;
  margin: 0 10% 20px 10%;
  width: 80%;
 height: 100vh;
}

.project-bx{
  background-color: #000;
  border-radius: 10px;
  text-align: left;
  padding: 30px 0 20px 0;
  z-index: 1;
  height: 400px;
}

.project-section-header{
	font-size: 45px;
	font-weight: 700;
  margin-bottom: 30px;
}

.project-item{
  height: 400px;
  width: 260px;
margin: 20px auto 20px auto;

}

.blog-button{
  text-decoration: none;
}
.project-card {
  border-radius: 15px;
  height: 350px;
  display: flex;
  flex-direction: column; 
}

.image-container {
  flex-grow: 1; 
  display: flex;
  justify-content: center;
}

.project-card-content h4 {
  display: inline;
  position: relative;
  color: #fff;
}

.project-card-content h4:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.project-card-content h4:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.project-card-content{
  margin-top: 20px;
}

.project-card-content h4 {
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  text-align: left;
  margin: 0;

}

.project-card-content p {
  font-weight: 500;
  color: #B8B8B8;
  text-decoration: none;
  text-align: left;
}

.project-vid{
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 15px;
}

.project button{
  background-color: #000;
  box-shadow: none;
  border: #000;
}
/************ Contact Css ************/
.contact {
margin: auto ; 
height: 100vh;
width: 80%;
}

.contact-bx{
width: 100%;
align-self: center;
}

.contact h2 {
	font-size: 45px;
	font-weight: 700;
  margin-bottom: 30px;
}

.contact form input{
  width: 100%;
  background: #000;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
  margin: 15px;
  height: 80px;
  padding: 10px;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.8px;
  transition: 0.3s ease-in-out;
}

.contact form textarea {
  width: 105%;
  background: #000;
  border: 1px solid #fff;
  color: #fff;
  margin: 15px 0 0 0 ;
  padding: 26px;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.8px;
  transition: 0.3s ease-in-out;
}
.contact form input:focus, .contact form textarea:focus {
  background: #1c1c1c;
  color: #fff;
}
.contact form input::placeholder, .contact form textarea::placeholder {
  font-size: 16px;
  font-weight: 600;
  color: #939393;
}
.contact form input:focus::placeholder, .contact form textarea:focus::placeholder {
  color: #fff;
  opacity: 1;
}
.contact form button {
  font-weight: 700;
  color: #ffffff;
  background-color: #000000;
  padding: 14px 48px;
  font-size: 18px;
  margin-top: 25px;
  border: solid 2px #fff;
  position: relative;
  transition: 0.3s ease-in-out;
  margin-bottom: 40px;
}
.contact form button span {
  z-index: 1;
  position: relative;
}
.contact form button:hover {
  color: #000;
  background-color: #fff;
}
.contact form button::before {
  content: "";
  background: #fff;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: 0.3s ease-in-out;
}
.contact form button:hover::before {
  width: 100%;
}

.contact-form-col{

  padding: 50px;
  border-radius: 30px;

}

.contact-sign-img{
  width: 60%;
  margin-left: 100px;
}

.contact-email-link{
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 100%;
  font-weight: 600;
}
.contact-email-link:hover{
  color:#B8B8B8;
}


/************ Footer Css ************/
.footer {
align-self: left;
}

.footer h1{
  margin: 0 200px 0 200px ;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
}

.site-preview-p {
  margin: 0 200px 0 200px ;
  color: #B8B8B8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 100%;
}

.site-preview video{
  margin: auto;
  width: 60%;
  align-self: center;

}

.site-preview{
  align-items: center;
  
}

.marble-run-link{
  text-decoration: none;
}

.marble-run-link h1 {
  display: inline;
  position: relative;
  color: #fff;
}

.marble-run-link h1:after {
  content: '';
  position: absolute;
  width: 25%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 11px;
  background-color: #fff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.marble-run-link h1:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.footer video{
  margin-bottom: 100px;
}
/************ Blog ********************/
.blog-post{
  
  margin: 200px auto auto auto;
  width: 80%;
}

.blog-post section{
  height: 100vh;
}

.blog-post h2{
  font-size: 45px;
  font-weight: 700;
  margin :0 0 40px 0;
}

.blog-post h3{
  font-weight: 600;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  text-align: left;
  margin: 80px 0 0 0;
  
}

.blog-post h4{
  font-weight: 500;
  font-size: 18px;
  color: #B8B8B8;
  text-decoration: none;
  text-align: left;
  width: 100%;
  margin :80 0 80px 0;
}

.blog-post p{
  font-weight: 500;
  font-size: 16px;
  color: #B8B8B8;
  text-decoration: none;
  text-align: left;
  width: 100%;
}

.blog-post img{
  width: 100%;
  margin: 80px 0 80px 0;
}

.post-img{
  width: 50% !important;
}

.blog-site-button  {
  display: block;
  width: 40%;
  text-decoration: none;
  font-weight: 700;
  color: #fff;
  border: 1px solid #fff;
  padding: 18px 34px;
  font-size: 18px;
  margin: 20px;
	background-color: transparent;
	transition: 0.3s ease-in-out;
}

.blog-site-button:hover {
  font-weight: 700;
  color: #000;
  border: 1px solid #fff;
  padding: 18px 34px;
  font-size: 18px;
	background-color: #fff;
	transition: 0.3s ease-in-out;
}
